.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.mainPage{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3mwPue9-ebvf8jMD1t02_87OVynJkWXJBbQ&usqp=CAU");
  background-size:5%;
  background-repeat: repeat;
  background-color: antiquewhite;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-fold{
background-color: yellowgreen;
}
.button-stack{
  margin-left: 40vw;
}
.App-link {
  color: #61dafb;
}
ol{
  margin-left: 20vw;
}

i{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  }

  b{
    display: block;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    }
  
li{
  font-family: Times New Roman,Times,serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
